@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'fonts';

body {
	@apply bg-black;
}

@layer components {
	@import 'components';
}

@layer base {
	@import 'base';
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
